* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f0101;
  color: #ececec;
}

/* Sayfa yüklenirken kullanıcıya görünmeyecek bir buton ekleme */


.box {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateX(-20deg) rotateY(-20deg);
  animation: rotate 5s infinite alternate ease-in-out;
}

.box .face {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid whitesmoke;
}
.box .front {
  background-color: plum;
}

.box .back {
  background-color: lightcoral;
  transform: translateZ(-200px);
}

.box .left {
  transform-origin: left;
  transform: rotateY(90deg);
  background-color: lightgreen;
}

.box .right {
  transform-origin: right;
  transform: rotateY(-90px);
  background-color: lightskyblue;
}

.box .bottom {
  transform-origin: bottom;
  transform: rotateX(90deg);
  background-color: darkgoldenrod;
}

.box .top {
  transform-origin: top;
  transform: rotateX(-90deg);
  background-color: darkgoldenrod;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateY (180deg) rotateZ(270deg);
  }
}
